<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	 	<script type="text/javaScript" src="../view/scripts/login.js"></script>

		<title>Welcome to MINILIBRIS</title>
		<h1>Welcome to MINILIBRIS</h1>
	</head>
	<body>
		<h2>Login</h2>
		<div class="login">
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" id="username" value="syvjohan"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="tetx" id="password" value="syvpassword"></td>
				</tr>
				<tr>
				<tr>
					<p id="errorMsgLogin"></p>
				</tr>
					<td><input type="submit" id="btnLogin" value="Login"></td>
				</tr>
			</table>
		</div>
		<div class="gotoRegister">
			<a href="register.html">Register a new user</a>
		</div>
		<div class="reset">
				<input type="submit" id="resetDbToDefault" value="Reset database to default value!">
			</form>
		</div>
	</body>
</html>