<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javaScript" src="../view/scripts/order.js"></script>

		<title>Welcome to order books</title>
		<h1>Search for book</h1>
	</head>
	<body>
		<div class="search">
			<select id="searchOpt">
				<option value="searchBookTitle">Book title</option>
				<option value="searchKeyword">Keyword</option>
				<option value="searchCategory">Category</option>
				<option value="showAllBooks">Show all books</option>
			</select>
			<input type="text" id="input" value="Sno kan brinna">
			<input type="submit" id="search" value="Search book(s)">
		</div>
	</body>
</html>