<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>	 	
		<script type="text/javaScript" src="../controller/register.js"></script>

		<title>Welcome to register new user</title>
		<h1>Register a new user</h1>
	</head>
	<body>
		<div class="register">
			<table>
				<tr>
					<td>FirstName</td>
					<td><input type="text" name="firstName"></td>
				</tr>
				<tr>
					<td>Lastname</td>
					<td><input type="text" name="lastName"></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" name="address"></td>
				</tr>
				<tr>
					<td>Phonenumber</td>
					<td><input type="text" name="phonenumber"></td>
				</tr>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="text" name="password"></td>
				</tr>
				<tr>
					<td><input type="submit" name="btnRegister" value="Register" onclick="doRegistration()"></td>
				</tr>
			</table>
		</div>
	</body>
</html>