<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>	 	
		<script type="text/javaScript" src="../view/scripts/register.js"></script>

		<title>Welcome to register new user</title>
		<h1>Register a new user</h1>
	</head>
	<body>
		<div class="register">
			<table>
				<tr>
					<td>Firstname</td>
					<td><input type="text" id="firstname" value="johan"></td>
				</tr>
				<tr>
					<td>Lastname</td>
					<td><input type="text" id="lastname" value="frediksson"></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" id="address" value="Berguvsgatan 4B"></td>
				</tr>
				<tr>
					<td>Phonenumber</td>
					<td><input type="text" id="phonenumber" value="0708658956"></td>
				</tr>
				<tr>
					<td>Username</td>
					<td><input type="text" id="username" value="syvjohan"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="text" id="password" value="test474ffKK"></td>
				</tr>
				<tr>
					<p id="errorMsgRegister"></p>
					<td><input type="submit" id="btnRegister" value="Register"></td>
				</tr>
			</table>
		</div>
	</body>
</html>