<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

		<title>Welcome to order books</title>
		<h1>Search book</h1>
	</head>
	<body>
		<div class="search">
			<p><select id="searchOpt">
				<option value="searchBookTitle">Book title</option>
				<option value="searchKeyword">Keyword</option>
				<option value="searchCategory">Category</option>
				<option value="showAllBooks">Show all books</option>
			</select></p>
			<p><input type="text" id="input" value="Sno"></p>
			<p><input type="submit" id="btnSearch" value="Search book(s)"></p>
		</div>
		<table id="showBooks" style="width:50%"></table>

		<script type="text/javaScript" src="../view/scripts/search.js"></script>
	</body>
</html>